/* Results.css */

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.results-list {
  width: 500px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.results-list h2 {
  margin-bottom: 20px;
  text-align: center;
}

.results-list h3 {
  margin-bottom: 10px;
}

.results-list p {
  margin: 0;
}

.results-list ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.results-list li {
  margin-bottom: 10px;
}

.results-list button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.results-list button:hover {
  background-color: #0056b3;
}
