/* styles.css */

/* Apply styles to the root element of each component */
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Create a flex container to stretch components vertically */
body {
  display: flex;
  flex-direction: column;
}

/* Content container to fill remaining space */
#root {
  flex: 1;
}
